<div class="container">
  <mat-card class="mat-card-list">
    <mat-card-title class="titulo-principal">DashBoard</mat-card-title>

  </mat-card>
<div class="row">

<div class="col-6">
  <mat-card class="mat-card-padrao">
    <mat-card-title>Total de vendas por mês</mat-card-title> 

    <canvas #canvas></canvas>

  </mat-card>

</div>

<div class="col-6">
  <mat-card class="mat-card-padrao">
    <mat-card-title>Total de pedidos (Abertos, Cancelados e Finalizados)</mat-card-title> 

    <canvas #canvas2></canvas>

  </mat-card>

</div>

<div class="col-6">
  <mat-card class="mat-card-padrao">
    <mat-card-title>Faturamento no mês</mat-card-title> 
    <div class="valores">
      <span>Valor Faturado </span>
      <h1>R$ 12.400</h1>
      <span>Valor de Gasto </span>
      <h1>R$ 7.330</h1>

    </div>


  </mat-card>

</div>

<div class="col-6">
  <mat-card class="mat-card-padrao">
    <mat-card-title>Total de pedidos em aberto no mês</mat-card-title> 

    <canvas #canvas3></canvas>

  </mat-card>

</div>


</div>
  
</div>
