
.titulo-principal {
  font-size: 25px !important;
}

.mat-card-title {
  font-size: 100%;
  background-color: #D84315;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.valores {
  padding: 20px;

  h1 {
    font-size: 59px;
    color: #D84315;
  }
}
