
.top {
    text-align: center;
    padding: 1em;
    margin-bottom: 8px;
    background-color: #FF5722;
    color: #fff;
}

.material-icons {
    font-size: 82px;
}

p {
    text-align: justify;
    font-size: 20px;
}

span {
    color: #FF5722;
}

