form {
    margin-bottom: 30px;
}

.valorTotal {
    background-color: #FF5722;
    color: #fff;
    border-radius: 4px;
    padding: 9px;
    font-size: 25px;
}

.simbolo {
    margin-top: 19px;
    margin-right: -10px;
}

.btn-addProduto {
    margin-left: 63px;
}


