
<div class="body"></div>
<mat-card class="mat-card-padrao">
	<div class="logo">
		<img src="./assets/imagens/logo.jpg" alt="logo"/>
	</div>
  <mat-card-content>
	<form [formGroup]="loginForm">
	  <p>
		<mat-form-field>
		  <input type="text" matInput placeholder="Usuário" required formControlName="userName">
		</mat-form-field>
	  </p>
	  <p>
		<mat-form-field>
		  <input matInput placeholder="Senha" required formControlName="senha" [type]="hide ? 'text' : 'password'">
		  <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
		  <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
		  </button>
		</mat-form-field>
	  </p>

	  <p *ngIf="error" class="error">
		{{ error }}
	  </p>

	  <div class="row">
		<button mat-button class="btn-entrar col-12" type="submit" (click)="fazerLogin()"><mat-icon>input</mat-icon> Entrar</button>
	  </div>
	 

	</form>
  </mat-card-content>
</mat-card>
    
