/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~ngx-toastr/toastr';


@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ds-app-primary: mat-palette($mat-deep-orange, 700);
$ds-app-accent: mat-palette($mat-cyan, 600);

// The warn palette is optional (defaults to red).
$ds-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ds-app-theme: mat-light-theme($ds-app-primary, $ds-app-accent, $ds-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ds-app-theme);
 

//Standard size
$break-small: 540px;
$break-medium: 720px;
$break-large: 960px;
$break-exlarge: 1140px;



.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #D84315 !important;
}
.mat-sidenav {
  width: 280px;
  padding:15px;
}

.header-toolbar{
  //background-color: #FF6D00;
  color:#fff;
}

.mat-sidenav{
  background-color: #D84315;
  color:#fff;
}

.mat-drawer { 
  //background-color: #FF6D00;
  color:#fff;
}

.btn-nav{
  padding: 5px;
  background-color: #fff !important;
  color:#E65100 !important;
  font-weight: bold;
}

.main-content {
  padding:20px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}

.font-header {
  font-size: 14px
}

.icons-margim {
  margin-left: 15px
}

.center-spinner {
  margin-left: 45%; 
  margin-top: 20%
}

.has-centered-text {
  text-align: center;
  background-color: #FF9100;
  font-weight: 600;
  color: white;
  font-size: 24px;
}

.mat-card-space{
  margin-bottom: 40px;
}

.mat-card-list{
  background-color: #D84315;
  height: auto; 
  margin-top: -5px;
  margin-bottom: 20px;
  margin-left: 5px;
  .mat-icon{
    color: #D84315;
    cursor: pointer;
  }
  .mat-card-title {
    color: #fff;
  }
}
.mat-panel-title {
  color: #D84315;
}

.mat-card-padrao{
  height: auto; 
  margin-top: -5px;
  margin-bottom: 20px;
  margin-left: 5px;
  .mat-icon{
    color: #D84315;
  }
  .mat-card-title {
    color: #D84315;
  }
}

.dados {
  background-color: #D84315;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.title-card {
  font-size: 24px;
  background-color: #D84315;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.id {
    position: absolute;
    margin-top: -37px;
    margin-left: 956px;
    color: #D84315;
    font-size: 20px;
}

.idPadrao {
  position: absolute;
    margin-top: -42px;
    margin-left: 950px;
    color: #fff;
    font-size: 20px;
}


.expansion-list-done {
  border: dashed 1px;
  min-height: 327px;
  max-height: 327px;
  background: #fafafa;
  border-radius: 4px;
  overflow: auto;
  display: block;
  margin-top: 13px;
  border-left: #FF6D00 solid 3px;
  
  ::before{
    position: absolute;
    top: 225px;
    left: 6px;
    display: inline-block;
    border-top: 30px solid transparent;
    border-left: 0px solid #FF6D00;
    border-right: 10px solid #FF9100;
    border-bottom: 30px solid transparent;
    content: " ";
    z-index: 9;
  }
}
.expansion-panel{
  background-color: #F2F2F2;
}
.expansion-panel-data{
  font-size: 10pt;
}
 
.expansion-panel-title{
  font-weight: bolder;
}
table {
  width: 100%;
}

.mat-button {
	text-align: center;
	background-color: #fff;
  color: #D84315;
  border-radius: 50px !important;
  border: solid 2px #D84315 !important;
  }

  .button-submit {
    position: relative;
  }

  .button-ajusted {
    margin-bottom: 10px;
  }

  .iconPlus {
    color: white !important;
}

.iconClose {
  cursor: pointer;
  color: #FF5722;
}

.iconSearch {
  color: white !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #FF5722 !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #FF9100;
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
